

body{
    margin:0px;
  background-image:           url(../grafika/spacexbackground.jpg);
  background-attachment:      fixed;
  background-position:        center;
  background-repeat:          no-repeat;
  background-size:            cover;
}

nav{
  
    top: 0;
    z-index: 2;
    position: sticky;
    font-family: 'Montserrat';
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(4px);
    height:80px;
    display:flex;
    justify-content: space-between;
    
}

.logo{
    margin: 10px;
  }

.logo a{
    line-height:              0;
    width:                    125px;
    color:                   white;
    text-decoration:           none;
    letter-spacing:            3px;
      
  }
.logo a h1{
  font-size: 30px;
}
.logo a h2{
  font-size: 15px;
  text-align: right;
}

  .nav-links {
    display:                    flex;
    font-weight:                900;
    font-size:                  12px;
    
  }
  .nav-links a, .dropdown a,.navfield{
      padding-top: 10px;
      width:                    150px;
      color:                   white;
      height: 70px;
      display: block;
      text-decoration:           none;
      letter-spacing:            3px;
      transition-duration:       1s;
      text-align:                 center;
    }
  
    .nav-links a:hover, .dropdown a:hover,.navfield:hover{
      background-color: rgb(255, 255, 255);
        color: black;
    }
  
    .submenu{
      
        display: none;
        background-color: rgb(0,0,0,0.5);
       
    }
    .submenu a{
      height: 50px;
    }
.dropdown:hover .submenu{
    display:block;
}

.quotecontainer{
    font-family: 'Montserrat';
    color:white;
    padding-top: 300px;
    height: 400px;
    text-align: center;
  }
  
  #quote h1{
      font-size:50px;
      animation: fadein 10s;
  }
  #quote h2{
      margin-right: 20px;
    font-size: 20px;
    color: gray;
    text-align: right;
    animation: fadein 10s;
  }

    @keyframes fadein{
        from {opacity: 0;}
        to   {opacity: 1;}
  }

  .container{
    font-family: 'Roboto', sans-serif;
    height:1500px;
    background-color: white;

}

.container h1{
    
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

#introduction{
  display: flex;
   justify-content: space-around;
}
#introductionText{
    
    width:700px;
    margin:0;
    font-size: 35px;
    text-align: justify;
}
#introduction img{
  border-radius:20%;
}
#introductiontext p::first-letter{
    font-size: 55px;
}





.imageCredit{
    line-height: 0px;
    text-align: center;
    font-size:15px;
}
.imageCredit a{
    color: rgb(9, 110, 144);
}

#agencyIntroduction{
    clear:both;
}

#agency{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat';
  font-size:20px;
  }

  #agency img{
  margin: 50px;
  margin-bottom: 0;
  height:300px;
  width: auto;
  }

  .agencyIMG{
   transition: transform 0.5s;
  }
  .agencyIMG:hover{
    transform: scale(1.1);
  }


footer{
  height:200px; 
  background-color: rgb(0,0,0,0.8);
  font-size:25px;
  color: white;
  text-align: center;
}
footer a{
  text-decoration: none;
  color:white;
}
footer a:hover{
  color: gray;
}

#profile-bar{
  font-family: 'Nunito', sans-serif;
  background-color: rgb(0,0,0,1);
  backdrop-filter: blur(4px);
  width:100%;
  height:25px;
  color:white;
  display: flex;
  justify-content: space-between;
  
}
#profile-bar a{
  text-decoration: none;
  color:white;
}
#profile-bar a:hover{
  color:#0f00dd;
}
#profile-bar span{
  padding: 15px;
}


@media screen and (max-width: 1024px){
    nav{ width: 100%;
        display:flex; 
        clear: both; }
        #quotecontainer{height:150px; padding: 100px;}
        #quote h1{ font-size: 35px;}
        #quote h2{font-size:15px; }
        #introductionText{font-size:25px; margin-right: 35px; margin-top:50px;}
        #introduction img{height:300px; width: auto;}
}
@media screen and (max-width: 768px){
  body{
  overflow-x: hidden;
  }
  nav{ width: 100%; height:110px; display:inline-block; }
  .logo a h2, a h1{text-align: center;}
  .nav-links{justify-content: space-around; font-size: 8px;}
  .nav-links a, .dropdown a,.navfield{width:125px; height:40px;}
  #quote h1{ font-size: 25px;}
  #quote h2{font-size:10px; }
  .container h1{font-size:35px;}
  #introduction{display:block;}
  
  #introductionText{width: 100%; font-size: 25px;}
  #introduction img{width:100%;  height: auto;}
  #agency img{margin-right:0;}
}

@media screen and (max-width: 375px){
  #quotecontainer{height:200px; padding:0; margin-top:100px;}
  #quote h1{ font-size: 20px;}
  #quote h2{font-size:15px; }
  #introduction{margin:0;}
  #introductionText{width: 100%; font-size: 15px;}
  #agency{display:block;}
  #agency img{margin-right: 0; margin-left: 0;}
  .imageCredit{font-size:10px }
}
#contact{
  margin-top:100px;
}
